.footer__link{
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover{
    opacity: 0.8;
}
@media screen and (min-width:320px) and (max-width:550px){
    .footer__link{
        margin-right: 0;
    }
}
