.page__lead{
    width: 77%;
    margin:0 auto;
    margin-bottom: 92px;
}
@media screen and (max-width:1024px){
    .page__lead{
       width: 90%;
    }
}
@media screen and (max-width:900px){
    .page__lead{
        width:94%;
    }
}
@media screen and (max-width:768px){
    .page__lead{
        margin-bottom: 88px;
        width: 100%;
    }
}
@media screen and (min-width:320px) and (max-width:550px){
    .page__lead{
        margin-bottom:64px;
    }
}